.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.example-list {
  height: 400px;
  position: relative;
  width: 180px;
}

.wrap-example-item {
  position: absolute;
  transition: 0.2s;
}


.example-item {
  transition: 0.2s;

  width: 180px;
  box-sizing: border-box;
}
