.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.example-list {
  height: 400px;
  position: relative;
  width: 180px;
}

.wrap-example-item {
  position: absolute;
}


.example-item {
  transition: 0.2s;

  width: 180px;
  box-sizing: border-box;
  height: 40px;
}

.Move {
  --shortDuration: 0.5s;
  transition: top var(--shortDuration) ease-in-out, transform var(--shortDuration) ease-in-out
}

.Folder {
  opacity: 0.5;
}
